.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 755px;
}
